div {
	float:left;
	margin-right: 20px;
	margin-bottom: 20px;
}

img {
	position: relative;
	width: 250px;
	border: 2px solid orange;
}

h1 {
	font-family: arial, sans-serif;
	font-size: 72px;
	color: orange;
	text-transform: uppercase;
}