.content {
	width: 90;
	float: left;
	margin-left: 90px;
	margin-right: 90px;
}

.left {
	width:45%;
	float: left;
	margin-right: 40px;

}

.right {
	width: 45%;
	float: right;
}


h1 {
	font-family: georgia;
	font-size: 42px;
	color: #666;
}
h3 {
	color: orange;
	font-family: helvetica;
	font-size: 24px;
	text-decoration: none;
}

a:link, a:visited {
	color: orange;
	text-decoration: none;
}

.image {
	float:left;
/*	display: inline;*/
	margin-right: 30px;
}

.mainphoto {
	width: 400px;
	border: 1px solid orange;
	margin-bottom: 20px;
}

.sidebar {
	width: 50px;
	height: 110px;
	padding: 5px;
	/* margin: 10px; */
	border: 2px solid #999;
	background-color: orange;
	color: #000;
	position: fixed;
	top: 30px;
	left: 0px;
}
.scl {
	width:50px;
	padding-bottom: 10px;
}